<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>

<style>
    .form-row{
        margin-bottom: 20px;
    }
</style>

<body class="loading"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    <!-- <div class="login-logo">
        <a href="<%-adminpath%>/"><b>Food</b>Delivery</a>
      </div> -->
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="<%- adminpath %>">Dashboard</a></li>
                                        
                                        <li class="breadcrumb-item">Settings</li>

                                        <li class="breadcrumb-item active">Edit Profile</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Edit Profile</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 

                    <div class="row">
                        <div class="col-8">
                            <div class="card">

                    <div class="card-body">

                    <form  role="form" method="POST" action="<%=adminpath %>profile/companyUpdate"   class="form-bordered data-parsley-focus"  id="profileSubmit" enctype="multipart/form-data">

                        <div class="form-row">
                            
                            <div class="form-label col-md-4">
                                <label for="">
                                    Company Name:
                                    <span class="required">*</span>
                                </label>
                            </div>

                            <div class="form-input col-md-8">
                                <input type="text" id="companyName" data-required="true" value="<%-data.companyName%>" class="form-control" name="companyName"   data-trigger="change"  />

                            </div>
                           
                        </div>

                        <div class="form-row">
                            
                            <div class="form-label col-md-4">
                                <label for="">
                                    Company Email:
                                    <span class="required">*</span>
                                </label>
                            </div>
                            
                            <div class="form-input col-md-8">
                                <input type="email" id="email" data-required="true" value="<%-data.email%>" class="form-control" name="email"   data-trigger="change"  />

                            </div>
                           
                        </div>

                        

                        <div class="form-row">
                            
                            <div class="form-label col-md-4">
                                <label for="">
                                    Phone Number:
                                    <span class="required">*</span>
                                </label>
                            </div>
                            
                            <div class="form-input col-md-8">
                                <input type="text" id="phoneNumber" data-required="true" value="<%-data.phoneNumber%>" class="form-control" name="phoneNumber" data-trigger="change"  />

                            </div>
                           
                        </div>

                        <div class="form-row">
                            
                            <div class="form-label col-md-4">
                                <label for="">
                                    Address 1:
                                    <span class="required">*</span>
                                </label>
                            </div>
                            
                            <div class="form-input col-md-8">
                                <input type="text" id="address1" data-required="true" value="<%-data.address1%>" class="form-control" name="address1"   data-trigger="change"  />
                                <input type="hidden" name="address1LatLong" value="<%-data.address1LatLong %>" id="address1LatLong" placeholder="Address 1" class="form-control">
                            </div>
                           
                        </div>

                        <div class="form-row">
                            
                            <div class="form-label col-md-4">
                                <label for="">
                                    Address 2:
                                    <span class="required">*</span>
                                </label>
                            </div>
                            
                            <div class="form-input col-md-8">
                                <input type="text" id="address2" data-required="true" value="<%-data.address2%>" class="form-control" name="address2"   data-trigger="change"  />
                                <input type="hidden" name="address2LatLong" value="<%-data.address2LatLong %>" id="address2LatLong" placeholder="Address 1" class="form-control">
                            </div>
                           
                        </div>

                        <div class="col-lg-12">
                                
                            <div class="card-box">
                                <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Select Logo Here</h5>

                              
                                    <div class="form-group fallback">
                                        <input type="file" class="form-control-file" name="image" />
                                    </div>
                                    <br/>
                                    <div class=" form-group fallback">
                                        <input type="file" class="form-control-file" name="image2" />
                                    </div>
                                    <br/>
                                    <div class="form-group fallback">
                                        <input type="file" class="form-control-file" name="image3" />
                                    </div>

                                <!-- Preview -->
                                <div class="dropzone-previews mt-3" id="file-previews"></div>

                            </div> <!-- end col-->

                            <button class="btn btn-info btn-sm" type="submit">Save</button>
                
                    </form>

                        </div>
                </div>
            </div>
                
            </div>

                </div> <!-- container -->

            </div> <!-- content -->


        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <div class="loader" style="position:fixed;top:50%;left:50%;display: none;">
        <img src="/assets/images/loader-dark.gif" alt="">
    </div>


    <%- include('../partials/script'); -%>
    <script>
        

        var options = { 
            // beforeSubmit:  showRequest,
            success:       showResponse  // post-submit callback 
        }; 
 
        // bind form using 'ajaxForm' 
        $('#profileSubmit').ajaxForm(options);

        function showResponse(responseText, statusText, xhr, $form){
            setTimeout(function(){

                $(".loader").css("display","none");

                if(responseText.code == 200){
                    toastr.success(responseText.message);
                    
                }else if(responseText.code == 400){
                    toastr.error("Error Occured");
                }

                $("#profileSubmit")[0].reset();

            },2000)
            
        }
        $(document).ready(function () {
            new google.maps.event.addDomListener(window, 'load', initialize);
        });
        function initialize() {
            //pickup
            var input = document.getElementById('address1');
            var autocomplete = new google.maps.places.Autocomplete(input);
            new google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                var componenents= place.address_components;
                var lat =  place.geometry.location.lat();
                var lng =  place.geometry.location.lng();
                var addressLat = lat.toFixed(6);
                var addressLong = lng.toFixed(6);
                var obj = { 
                    "lat":addressLat.toString(),
                    "long":addressLong.toString()
                }
                $('#address1LatLong').val(JSON.stringify(obj));
            });

            //drop Off
            var input2 = document.getElementById('address2');
            var autocomplete2 = new google.maps.places.Autocomplete(input2);
            new google.maps.event.addListener(autocomplete2, 'place_changed', function () {
                var place = autocomplete2.getPlace(); 
                var lat2 =  place.geometry.location.lat();
                var lng2 =  place.geometry.location.lng();
                var addressLat2 = lat2.toFixed(6);
                var addressLong2 = lng2.toFixed(6);
                var obj2 = { 
                    "lat":addressLat2.toString(),
                    "long":addressLong2.toString()
                }
                $('#address2LatLong').val(JSON.stringify(obj2));
            });
        }
    </script>

</body>

</html>