<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>


<body class="loading"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
                   <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="<%- adminpath %>">Dashboard</a></li>
                                            
                                            <li class="breadcrumb-item active">Orders</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Orders</h4>
                                    <h5>Order Auto Assignment: 
                                    <% if(findDataSetting.autoAssign == "yes"){ %>
                                        ON
                                    <% }else{ %>
                                        OFF
                                    <% } %>
                                    </h5>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-lg-12">
                                                <form class="form-inline">
                                                    
                                                    <div class="form-group mx-sm-2 mb-2">
                                                        <select class="custom-select" id="status-select">
                                                            <option value="" />All 
                                                            <option value="0"/>Order Pending 
                                                            <option value="1"/>Order Confirmed
                                                            <option value="3"/>Order Processing
                                                            <option value="6"/>Order Picked up
                                                            <option value="5"/>Order Delivered
                                                            <option value="2"/>Cancelled User
                                                            <option value="4"/>Cancelled Restaurant
                                                        </select>
                                                    </div>
                                                    <div class="form-group mx-sm-1 mb-2">
                                                        <input type="text" id="basic-datepicker"  name="from" class="fromDate form-control" placeholder="From Date">
                                                    </div>
                                                    <div class="form-group mx-sm-1 mb-2">
                                                        <input type="text" id="toDate" placeholder="To Date"  class="toDate form-control" name="to" />
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <div class="text-lg-left">
                                                            <a onclick="getFilter(1)" href="javascript:;"><button type="button" class="btn btn-light waves-effect mb-2">Apply</button></a>
                                                        </div>
                                                    </div><!-- end col-->
                                                    <div class="form-group mb-2">
                                                        <label for="inputPassword2" class="sr-only">Search</label>
                                                        <input type="text" class="form-control" id ="search" name="search" placeholder="Search...">
                                                    </div>
                                                </form>                            
                                            </div>
                                            
                                        </div>
                
                                        <div class="table-responsive">
                                            <table id="exe" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Order ID</th>
                                                        <th>Customer</th>
                                                        <th>Date</th>
                                                        <th>Contact</th>
                                                        <th>Price (<%-CURRENCY%>)</th>
                                                        <th>Payment</th>
                                                        <th>Address</th>
                                                        <th>Order Date </th>
                                                        <th>Order Status</th>
                                                        <th style="width: 125px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="orderData">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-4" style="float:right" id="append_pagination">
                                        </div>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->
            </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
          
            

                    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Order Status</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body p-4">
                                    <div class="row">
                                         <input type="hidden" id="assignOrderId" value=""/>
                                        <select class="custom-select" id="status-selectt" >
                                            <option value="" disabled />Choose Status
                                            <option value="1"/>Order Confirmed
                                            <option value="3"/>Order Prepare by restaurent
                                            <option value="6"/>Order Picked up
                                            <option value="5"/>Order Delivered
                                            <option value="2"/>Order Cancelled By user
                                            <option value="4"/>Order Cancelled By restaurant
                                        </select>
                                    </div>
                                </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                    <button type="button" onclick="changeStatus()" class="btn btn-info waves-effect waves-light">Save changes</button>
                                </div>
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- /.modal -->
                
</div>
                
    <!-- END wrapper -->

    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>
<script>
    $('#search').on( 'keyup', function () {
       setTimeout(function(){getSearch(1) },800);
    });
    $("#toDate").flatpickr();
    function changeStatus()
    {
        var id = $("#assignOrderId").val();
        console.log(id);
        var status = $("#status-selectt :selected").val();
        console.log('sadas',status)
        if( confirm('Are you sure you want to change status for this order?'))
        {
            
                $("#con-close-modal").modal('hide');
                $.ajax({
                    type: 'POST',
                    url: '<%-adminpath%>orders/status',
                    dataType: 'json',
                    data: {'id':id,'status':status},
                    success: function (response) {
                        console.log(response)
                        if (response.code == '200') {
                            toastr.success( response.message);
                            setTimeout(function(){
                               window.location.reload();
                            }, 2000);
                        }
                        else{
                           
                            setTimeout(function(){
                                toastr.error(response.message);
                                window.location.reload();
                            }, 2000);
                        }
                    },

                    error :function(response)
                    {
                        setTimeout(function(){
                            toastr.error(response.message);
                           window.location.reload();
                        }, 2000);

                    }
                });
            }
            }
    function showModal(id,status)
   {
        console.log(id);
       
        $('#assignOrderId').val(id);
        $("#con-close-modal").modal('show');

        //$('#myModal').modal();

   }
    function getFilter(currentPage)
    {
        currentPage=currentPage
        var limit=40
        $('#loading1').show()
        var status=$('#status-select').val();
        var fromDate=$('.fromDate').val();
        var toDate=$('#toDate').val();

        //alert(fromDate)
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>orders/list',
            dataType: 'json',
            data: {'fromDate':fromDate,'progressStatus':status ,'toDate':toDate,'page':currentPage,'limit':limit},
            success: function (response) {
                $('#loading1').hide()

                if (response.code == '200') 
                {
                    var row="";

                    $('#orderData').html('')
                    var data1=response.body.data
                    var data=response.body.data.rows
                    for(var t=0;t<data.length;t++)
                    {
                        var status="Pending"
                        var Payment="Failed"
                        var paymentBg="bg-red"
                        var orderClass = "badge-info";

                        if(data[t].payment && data[t].payment.transactionStatus=="1") {
                          var payemnt = '<a href="javascript:;"  class="btn bg-green font-size-10 pad5A tooltip-button" data-placement="bottom" title="Open modal window"   >'+
                            '<h5><span class="badge bg-soft-success text-success"><i class="mdi mdi-coin"></i>Paid</span></h5></a>';
                        }else{
                            var payemnt = '<a href="javascript:;"  class="btn bg-green font-size-10 pad5A tooltip-button" data-placement="bottom" title="Open modal window"   >'+
                            '<h5><span class="badge bg-soft-danger text-danger"><i class="mdi mdi-cancel"></i> Payment Failed</span></h5></a>';
                        }

                        if(data[t].progressStatus=="1")
                        {
                            status="Confirmed";
                            var orderClass = "badge-info";
                        } 
                        if(data[t].progressStatus=="2"){
                            status="Cancelled";
                            var orderClass = "badge-danger";
                        } 
                        if(data[t].progressStatus=="3"){
                            status="Order Prepare";
                            var orderClass = "badge-warning";
                        }
                        if(data[t].progressStatus=="4"){
                             status="Cancelled-Comapny";
                            var orderClass = "badge-danger";
                        }
                        if(data[t].progressStatus=="5"){
                            status="Delivered";
                            var orderClass = "badge-success";
                        }
                        if(data[t].progressStatus=="6"){
                            status="Picked up";
                            var orderClass = "badge-success";
                        }
                        row =row+ '<tr id="row_'+data[t].id+'">'+
                        '<td>'+data[t].orderNo+' </td>'+
                        '<td>'+data[t].user.firstName+ " "+  data[t].user.lastName+' </td>'+
                        '<td>'+format(new Date(data[t].serviceDateTime))+' </td>'+
                        '<td>'+data[t].user.countryCode +" "+ data[t].user.phoneNumber+'</td>'+
                        '<td>'+data[t].totalOrderPrice  +'</td>'+
                        '<td>'+payemnt+'</td>'+
                        '<td>'+(data[t].address!=null? data[t].address.houseNo+" "+ data[t].address.addressName +" ,"+data[t].address.city:"")+'</td>'+
                        '<td>'+format(new Date(data[t].createdAt)) +'</td>'+
                        '<td><h5><span class="badge '+orderClass+'">'+status+'</span></h5></td>'+
                        '<td>'+
                        '<a href="<%-adminpath%>orders/view/'+data[t].id +'" class="action-icon"> <i class="mdi mdi-eye"></i></a>'+
                        '<a onclick="return confirm(\'Are you sure you want to delete this?\');"  href="<%-adminpath%>orders/delete/'+data[t].id +'" data-id="'+ data[t].id+'" title="" class="action-icon"> <i class="mdi mdi-delete"></i></a>'+ 
                        '<a href="javascript:;" class="action-icon" id="block_status_'+data[t].id+'"  onclick="showModal(\''+data[t].id+'\',\''+data[t].progressStatus+'\')" ><i class="mdi mdi-square-edit-outline"></i></a>'+                              
                        '</td>'+
                        '</tr>';
                    }
                    
                    $('#orderData').html(row);
                    appendPagination(currentPage,Math.ceil(data1.count/limit))
                    //$('#exe').DataTable();
                }
                else{
                    showToastError(response.message)
                }
            },

            error :function(response)
            {
                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    } 
    function getSearch(currentPage)
    {
        currentPage=currentPage
        var search=$('#search').val()
        var limit=40
        $('#loading1').show()
        var status=$('#status-select').val();
        var fromDate="";
        var toDate="";

        //alert(fromDate)
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>orders/search',
            dataType: 'json',
            data: {'search':search,'fromDate':fromDate,'progressStatus':status ,'toDate':toDate,'page':currentPage,'limit':limit},
            success: function (response) {
                $('#loading1').hide()

                if (response.code == '200') 
                {
                    var row="";

                    $('#orderData').html('')
                    var data1=response.body.data
                    var data=response.body.data.rows
                    for(var t=0;t<data.length;t++)
                    {
                        var status="Pending"
                        var Payment="Failed"
                        var paymentBg="bg-red"
                        var orderClass = "badge-info";

                        if(data[t].payment && data[t].payment.transactionStatus=="1") {
                          var payemnt = '<a href="javascript:;"  class="btn bg-green font-size-10 pad5A tooltip-button" data-placement="bottom" title="Open modal window"   >'+
                            '<h5><span class="badge bg-soft-success text-success"><i class="mdi mdi-coin"></i>Paid</span></h5></a>';
                        }else{
                            var payemnt = '<a href="javascript:;"  class="btn bg-green font-size-10 pad5A tooltip-button" data-placement="bottom" title="Open modal window"   >'+
                            '<h5><span class="badge bg-soft-danger text-danger"><i class="mdi mdi-cancel"></i> Payment Failed</span></h5></a>';
                        }

                        if(data[t].progressStatus=="1")
                        {
                            status="Confirmed";
                            var orderClass = "badge-info";
                        } 
                        if(data[t].progressStatus=="2"){
                            status="Cancelled";
                            var orderClass = "badge-danger";
                        } 
                        if(data[t].progressStatus=="3"){
                            status="Processing";
                            var orderClass = "badge-warning";
                        }
                        if(data[t].progressStatus=="4"){
                             status="Cancelled-Comapny";
                            var orderClass = "badge-danger";
                        }
                        if(data[t].progressStatus=="5"){
                            status="Completed";
                            var orderClass = "badge-success";
                        }

                        row =row+ '<tr id="row_'+data[t].id+'">'+
                        '<td>'+data[t].orderNo+' </td>'+
                        '<td>'+data[t].user.firstName+ " "+  data[t].user.lastName+' </td>'+
                        '<td>'+format(new Date(data[t].serviceDateTime))+' </td>'+
                        '<td>'+data[t].user.countryCode +" "+ data[t].user.phoneNumber+'</td>'+
                        '<td>'+data[t].totalOrderPrice  +'</td>'+
                        '<td>'+payemnt+'</td>'+
                        '<td>'+(data[t].address!=null? data[t].address.houseNo+" "+ data[t].address.addressName +" ,"+data[t].address.city:"")+'</td>'+
                        '<td>'+format(new Date(data[t].createdAt)) +'</td>'+
                        '<td><h5><span class="badge '+orderClass+'">'+status+'</span></h5></td>'+
                        '<td>'+
                        '<a href="<%-adminpath%>orders/view/'+data[t].id +'" class="action-icon"> <i class="mdi mdi-eye"></i></a>'+
                        '<a onclick="return confirm(\'Are you sure you want to delete this?\');"  href="<%-adminpath%>orders/delete/'+data[t].id +'" data-id="'+ data[t].id+'" title="" class="action-icon"> <i class="mdi mdi-delete"></i></a>'+       
                        '<a href="javascript:;" class="action-icon" id="block_status_'+data[t].id+'"  onclick="showModal(\''+data[t].id+'\',\''+data[t].progressStatus+'\')" ><i class="mdi mdi-square-edit-outline"></i></a>'+                        
                        '</td>'+
                        '</tr>';
                    }
                    
                    $('#orderData').html(row);
                    appendPagination(currentPage,Math.ceil(data1.count/limit))
                    //$('#exe').DataTable();
                }
                else{
                    showToastError(response.message)
                }
            },

            error :function(response)
            {
                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    } 
    function appendPagination(currentPage,count)
    {
        var fd="";
        if (count >= 1) { 
            fd=fd+' <ul class="pagination pagination-rounded justify-content-end my-2">'; 

            if (currentPage > 1) {            
              fd=fd+'<li class="page-item"><a class="page-link" onclick="getFilter(1)" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>';
            }
            else{
                fd=fd+'<li class="page-item"><a class="page-link disabled" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>';
            }
          var i = 1;
          if (currentPage > 5) {
          i = +currentPage - 4;
          } 
         // if (i !== 1) { 
         //      fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
         //  } 
                         
         // alert(fd);
          
         
            for (i; i<=count; i++) {
                if (currentPage == i) { 
                  fd=fd+'<li class="page-item active"><a class="page-link" href="javascript: void(0);">'+currentPage+'</a></li>';
                } else {
                    fd=fd+'<li class="page-item"><a class="page-link" onclick="getFilter('+i+')" href="javascript: void(0);">'+i+'</a></li';
                }
                if (i == (+currentPage + 4)) {
                    fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
                 break; } 
              }
         
          
            if (currentPage != count) {
                fd=fd+'<li class="page-item"><a class="page-link" onclick="getFilter('+count+')" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>';
            } 
            else{
                fd=fd+'<li class="page-item"><a class="page-link disabled" href="javascript: void(0);" aria-label="Previous"> <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>';
            } 
             
            fd=fd+'</ul>';  
        } 

           $("#append_pagination").html(fd)  
    }
    var currentPage=1
    getFilter(currentPage)
</script>

</body>

</html>